Node-RED/flows.json
[
    {
        "id": "e4e49d874b2570e4",
        "type": "tab",
        "label": "MEDIBOX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "145dfd788ccb66b8",
        "type": "ui_slider",
        "z": "e4e49d874b2570e4",
        "name": "",
        "label": "Sampling Interval",
        "tooltip": "",
        "group": "lightGroup",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "/Medibox/ts",
        "topicType": "msg",
        "min": "1",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "a8c6e8cc993b8df4"
            ]
        ]
    },
    {
        "id": "2cf2ad28aed48a0c",
        "type": "ui_slider",
        "z": "e4e49d874b2570e4",
        "name": "",
        "label": "Sending Interval",
        "tooltip": "",
        "group": "lightGroup",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "/Medibox/tu",
        "topicType": "msg",
        "min": "10",
        "max": "300",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "b5e67db35ec08599"
            ]
        ]
    },
    {
        "id": "8a34ee9a24d5007f",
        "type": "ui_gauge",
        "z": "e4e49d874b2570e4",
        "name": "",
        "group": "lightGroup",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "dd81adeca4147639",
        "type": "ui_chart",
        "z": "e4e49d874b2570e4",
        "name": "",
        "group": "lightGroup",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "027e96f4d6cc5c02",
        "type": "mqtt in",
        "z": "e4e49d874b2570e4",
        "name": "MQTT IN",
        "topic": "medibox/sensor_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd1ee9b8e875252e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "6ec1929ed6c77e2d",
                "01d6aee09d39865c"
            ]
        ]
    },
    {
        "id": "a8c6e8cc993b8df4",
        "type": "mqtt out",
        "z": "e4e49d874b2570e4",
        "name": "MQTT OUT",
        "topic": "/Medibox/ts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd1ee9b8e875252e",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "9e44fadd84c29523",
        "type": "ui_slider",
        "z": "e4e49d874b2570e4",
        "name": "",
        "label": "θ offset (min angle)",
        "tooltip": "",
        "group": "servoGroup",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "/Medibox/thetaOfset",
        "topicType": "msg",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "c408abdb7d29c659"
            ]
        ]
    },
    {
        "id": "85cc9ee99c298d5a",
        "type": "ui_slider",
        "z": "e4e49d874b2570e4",
        "name": "",
        "label": "γ (control factor)",
        "tooltip": "",
        "group": "servoGroup",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "/Medibox/gammaValue",
        "topicType": "msg",
        "min": "0.0",
        "max": "1.0",
        "step": "0.01",
        "className": "",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "132cc57ba6a8fe62"
            ]
        ]
    },
    {
        "id": "30e434b61ed2cb8d",
        "type": "ui_slider",
        "z": "e4e49d874b2570e4",
        "name": "",
        "label": "T_med (ideal temp)",
        "tooltip": "",
        "group": "servoGroup",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "/Medibox/Tmed",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "c289dcdcdb9084ad"
            ]
        ]
    },
    {
        "id": "6ec1929ed6c77e2d",
        "type": "function",
        "z": "e4e49d874b2570e4",
        "name": "mediboxStatus",
        "func": "let temperature = msg.payload.temperature;\nlet humidity = msg.payload.humidity;\nlet lightIntensity = msg.payload.intensity;\n\nreturn [\n    {payload: temperature},\n    {payload: humidity},\n    {payload: lightIntensity}\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "4c209dc705981f49",
                "cd3602144362bea9"
            ],
            [
                "9c83245baa582156",
                "bbd8d81ddcf9ba02"
            ],
            [
                "8a34ee9a24d5007f",
                "dd81adeca4147639"
            ]
        ]
    },
    {
        "id": "01d6aee09d39865c",
        "type": "debug",
        "z": "e4e49d874b2570e4",
        "name": "Sensor Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "4c209dc705981f49",
        "type": "ui_gauge",
        "z": "e4e49d874b2570e4",
        "name": "",
        "group": "c4e1a582bb2ccbd7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6b500",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "32",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c83245baa582156",
        "type": "ui_gauge",
        "z": "e4e49d874b2570e4",
        "name": "",
        "group": "de57fe026be6f253",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6b500",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "65",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "cd3602144362bea9",
        "type": "ui_chart",
        "z": "e4e49d874b2570e4",
        "name": "",
        "group": "c4e1a582bb2ccbd7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bbd8d81ddcf9ba02",
        "type": "ui_chart",
        "z": "e4e49d874b2570e4",
        "name": "",
        "group": "de57fe026be6f253",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b5e67db35ec08599",
        "type": "mqtt out",
        "z": "e4e49d874b2570e4",
        "name": "MQTT OUT",
        "topic": "/Medibox/tu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd1ee9b8e875252e",
        "x": 450,
        "y": 620,
        "wires": []
    },
    {
        "id": "c408abdb7d29c659",
        "type": "mqtt out",
        "z": "e4e49d874b2570e4",
        "name": "MQTT OUT",
        "topic": "/Medibox/thetaOfset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd1ee9b8e875252e",
        "x": 450,
        "y": 700,
        "wires": []
    },
    {
        "id": "132cc57ba6a8fe62",
        "type": "mqtt out",
        "z": "e4e49d874b2570e4",
        "name": "MQTT OUT",
        "topic": "/Medibox/gammaValue",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd1ee9b8e875252e",
        "x": 450,
        "y": 780,
        "wires": []
    },
    {
        "id": "c289dcdcdb9084ad",
        "type": "mqtt out",
        "z": "e4e49d874b2570e4",
        "name": "MQTT OUT",
        "topic": "/Medibox/Tmed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd1ee9b8e875252e",
        "x": 450,
        "y": 860,
        "wires": []
    },
    {
        "id": "87bbbf0d862ce9f3",
        "type": "mqtt in",
        "z": "e4e49d874b2570e4",
        "name": "MQTT IN",
        "topic": "/Medibox/params",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd1ee9b8e875252e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "082440b0f5e73443"
            ]
        ]
    },
    {
        "id": "082440b0f5e73443",
        "type": "debug",
        "z": "e4e49d874b2570e4",
        "name": "Initial Servo Params",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "8f35fc23627ec2a8",
        "type": "ui_spacer",
        "z": "e4e49d874b2570e4",
        "name": "spacer",
        "group": "c4e1a582bb2ccbd7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "7fd17e2d1827df2f",
        "type": "ui_spacer",
        "z": "e4e49d874b2570e4",
        "name": "spacer",
        "group": "de57fe026be6f253",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "2509468830476806",
        "type": "ui_spacer",
        "z": "e4e49d874b2570e4",
        "name": "spacer",
        "group": "servoGroup",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "edecbde8a84886e7",
        "type": "ui_spacer",
        "z": "e4e49d874b2570e4",
        "name": "spacer",
        "group": "servoGroup",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "e9c9718f6dad8b22",
        "type": "ui_spacer",
        "z": "e4e49d874b2570e4",
        "name": "spacer",
        "group": "servoGroup",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "ef87cf99d534a56b",
        "type": "ui_spacer",
        "z": "e4e49d874b2570e4",
        "name": "spacer",
        "group": "servoGroup",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "lightGroup",
        "type": "ui_group",
        "name": "Light Monitoring",
        "tab": "mediboxTab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd1ee9b8e875252e",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "servoGroup",
        "type": "ui_group",
        "name": "Servo Control",
        "tab": "mediboxTab",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4e1a582bb2ccbd7",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "mediboxTab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "de57fe026be6f253",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "mediboxTab",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "mediboxTab",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]